html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

header,
.wr-menu,
.wr-content,
footer {
    position: absolute;
    border: solid thin dodgerblue;
}
header,
.wr-menu,
footer {
    background-color: #252525;
}
header,
footer {
    width: 100%;
    z-index: 1000;
}
.wr-menu,
.wr-content {
    height: 100%;
}
.wr-menu {
    z-index: 200;
    padding-top: 50px;
}
.wr-content {
    background-color: #F6F6F6;
    width: 100%;
    padding-top: 49px;
    padding-left: 235px;
    z-index: 100;
}
footer {
    bottom: 0px;
}
/*----------------------------------------------*/

header {
    height: 295px;
    color: #ffffff;
    top: -295px;
    -webkit-transition: top 0.6s ease-out;
    -moz-transition: top 0.6s ease-out;
    -o-transition: top 0.6s ease-out;
    transition: top 0.6s ease-out;
}
header.op {
    top: 0px;
}
header nav {
    text-align: center;
}
header nav a {
    color: #ffffff;
    padding: 10px;
}
header nav a:hover {
    color: #337ab7;
}
header .bt-header {
    position: absolute;
    background-color: #252525;
    color: white;
    border: none;
    padding: 5px 25px;
    right: 100px;
    bottom: -30px;
    border-radius: 0px 0px 5px 5px;
}

.wr-menu {

}
.wr-menu nav {

}
.wr-menu nav a {
    color: #ffffff;
    display: inline-block;
    width: 100%;
}
.wr-menu nav a:hover {
    color: #337ab7;
}
.wr-menu {

}