<div class="wrap">
    <nav>
        <a ng-href="#/">Иконки 1</a>
        <a ng-href="#/newPages">Иконки 2</a>
        <a ng-href="#/about">Иконки 3</a>
    </nav>
    <div class="">jlolo</div>
    <button class="bt-header" ng-click="open = !open">Меню</button>
</div>
        {{b}}